
<h1 class='d-flex my-2 justify-content-center'>Edit <%= @project_name %></h1>


<form action="<%= url("/save/#{@dir}") %>" method="post" enctype="multipart/form-data">

  <div class="col-md-12">

    <div class="row">

      <div class="form-group col-md-6">

        <label for="blend_file">Rename Project</label>

        <input type="text" name="Rename" class="form-control" id="new_name" value="<%= @project_name%>">

        
        
      </div>




      <div class="form-group col-md-6">

        <label for="uploaded_blend_file">Choose New Icon</label>

        <select  name="new_icon" class="form-control" id="new_icon">

        

          <option value="option1"></option>

        

        </select>

     </div>
      
    





    <div class="row justify-content-md-end my-1 col-md-12">

      <button type="submit" class="btn btn-primary float-center">Save Changes</button>

    </div>

 </div>

</form>